* {
    user-select: none;
    cursor: crosshair;
}

/*  
1A1A1A > 2E2E2E > 444444
font-family: 'Onest', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;  
font-family: 'Anton', sans-serif;
font-family: 'Nosifer', sans-serif;
font-family: 'Oswald', sans-serif;
*/

body {
    background-color: #1A1A1A;
    color: white;
}

main {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
